/* Layout and other general related page styles */

/* Layout */
.pad-top {
    padding-top: 30px;
}

/* Page specific */
.hero-unit-wrapper {
    position: relative;
}

.intro-block {
    background-color: rgba($body-bg-color, 0.2);
    width: 100%;
    position: absolute;
    bottom: 0;
    .sep-blocks {
        padding-top: 1.2rem;
    }
    hr {
        border: 0;
        border-top: 2px solid $body-text-color;
        &.full {
            width: 100%;
        }
        &.part {
            width: 65%;
            &.right-aligned {
                position: relative;
                left: 35%;
            }
        }
    }
    .header {
        color: $body-text-color;
        font-family: $header-fonts;
    }
    .secondary-header {
        color: #fff;
        font-family: $body-fonts;
        text-transform: uppercase;
        .separator {
            font-family: $header-fonts;
        }
    }
    .details {
        text-align: center;
    }
}

.social-links {
    @include inline-list;
    margin: 0 0 0 -1.8rem;
    a {
        border: 0;
        color: $highlight-color;
        &:hover {
            color: scale-color($highlight-color, $lightness: -25%);
        }
    }
}

.secondary-header {
    letter-spacing: 0.5px;
}
