/* Typography, colours and other related theme related styles */

$body-text-color: #210b02;
$highlight-color: #818306;
$body-bg-color: #fdfefd;

$header-fonts: 'Abril Fatface', cursive;
$sub-header-fonts: 'Comfortaa', cursive;
$body-fonts: 'Karla', sans-serif;
